# basic settings
title: "Pavan Badempet"
title_separator: "|"
email: "pavan9b@gmail.com"
description: "Senior Data Engineer specializing in Python, Spark, AWS, and AI/ML. Building scalable data platforms and production-grade applications."
author: "Pavan Badempet"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://pavanbadempet.github.io" # the base hostname & protocol for your site, e.g. http://example.com
image: "assets/img/man2.jpg"
twitter:
  username: "pavanbadempet"
github:
  username: "pavanbadempet"
social:
  name: "Pavan Badempet"
  links:
    - "https://twitter.com/pavanbadempet"
    - "https://github.com/pavanbadempet"
    - "https://linkedin.com/in/pavanbadempet"
date_format: "%d %B %Y"

# paginations & permalinks
paginate: 9
paginate_path: "/blog/page:num/"
permalink: pretty

# disqus comments
disqus_comments: "no" # yes - show disqus comments, no - hide disqus comments
disqus_shortname: "pavanbadempet" # read more here https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-

# formsubmit.io
formsubmit_email: "pavan9b@gmail.com" # sign up on https://formsubmit.io/ and confirm your email

# collections
collections:
  - works

# archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive
#     tag: archive
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/

# Build settings
plugins:
  # - jekyll-archives
  - jekyll-paginate
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/

sass:
  style: compressed

markdown:  kramdown