{% extends 'layouts/default.html' %}

{% block content %}
<div class="section started">
    <div class="centrize full-width">
        <div class="vertical-center">
            <div class="started-content">
                <h1 class="h-title">{{ page.title }}</h1>
                <div class="h-subtitles">
                    <div class="h-subtitle typing-bread">
                        <p class="breadcrumbs">
                            <a href="{{ site.url }}">Home</a> / {{ page.title }}
                        </p>
                    </div>
                    <span class="typed-bread"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="content">
        {{ content }}
    </div>
</div>
{% endblock %}