{% assign navigation = site.data.navigation['main'] %}
{% assign settings = site.data.settings['settings'] %}
{% assign page_url = page.url | absolute_url %}

<!-- Header -->
<header class="header">
	<div class="head-top">
		{% if settings.sidebar == 1 %}
		<span class="sidebar_btn"><span></span></span>
		{% endif %}

		<!-- menu button -->
		<a href="#" class="menu-btn"><span></span></a>

		<!-- logo -->
		<div class="logo hover-masks-logo">
			<a href="{{ site.url }}">
				<span class="mask-lnk">{{ settings.logo_text }}</span>
				<span class="mask-lnk mask-lnk-hover">{{ settings.logo_hover_text }}</span>
			</a>
		</div>
		
		<!-- top menu -->						
		<div class="top-menu hover-masks">
			<div class="top-menu-nav">	
				<div class="menu-topmenu-container">
					<ul class="menu">
						{% for nav in navigation %}
						{% assign nav_url = nav.url | absolute_url %}
						<li class="menu-item {% if page_url == nav_url %} current-menu-item{% endif %}{% if nav.parent == 1 %} menu-item-has-children{% endif %}">
							<a href="{{ nav.url | relative_url }}">{{ nav.title }}</a>
                            {% if nav.parent == 1 %}
                            <ul class="sub-menu">
                                {% for subnav in nav.childs %}
                                {% assign subnav_url = subnav.url | absolute_url %}
                                <li class="menu-item{% if page_url == subnav_url %} current-menu-item{% endif %}"><a href="{{ subnav.url | relative_url }}">{{ subnav.title }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>