{% assign content = site.data.content['clients'] %}

<!-- Section Clients -->
<div class="section clients" id="section-clients">
    <div class="content">
        {% if content.title != '' %}
        <!-- title -->
        <div class="title">
            <div class="title_inner">{{ content.title }}</div>
        </div>
        {% endif %}

        <!-- clients items -->
        <div class="content-box">
            <div class="clients-items">
                {% for item in content.items %}
                <div class="clients-col">
                    <div class="clients-item">
                        {% if item.image != '' %}
                        <div class="image">
                            <a target="_blank" href="{{ item.link }}">
                                <img src="{{ item.image | relative_url }}" alt="{{ item.name }}" />
                            </a>
                        </div>
                        {% endif %}
                        <div class="desc">
                            <div class="name">{{ item.name }}</div>
                            <div class="role">{{ item.role }}</div>
                            <div class="text">{{ item.text }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>