{% assign content = site.data.content['resume'] %}
<!-- Section Resume -->
<div class="section resume" id="section-history">
    <div class="content">
        <div class="cols">

            <div class="col col-md">

                <!-- title -->
                <div class="title">
                    <div class="title_inner">{{ site.data.resume.experience.title }}</div>
                </div>

                <!-- resume items -->
                <div class="resume-items">
                    {% for item in site.data.resume.experience %}
                    <div class="resume-item content-box">
                        <div class="date">{{ item.year }}</div>
                        <div class="name">{{ item.name }}</div>
                        <div class="text">
                            <ul>
                                {% for line in item.text %}
                                <li>{{ line }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="col col-md">

                <!-- title -->
                <div class="title">
                    <div class="title_inner">{{ site.data.resume.education.title }}</div>
                </div>

                <!-- resume items -->
                <div class="resume-items">
                    {% for item in site.data.resume.education %}
                    <div class="resume-item content-box">
                        <div class="date">{{ item.year }}</div>
                        <div class="name">{{ item.name }}</div>
                        <div class="text">{{ item.text }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
