{% assign content = site.data.content['facts'] %}

<!-- Section Interests -->
<div class="section service" id="section-interests">
    <div class="content">
        {% if content.title != '' %}
        <!-- title -->
        <div class="title">
            <div class="title_inner">{{ content.title }}</div>
        </div>
        {% endif %}
        
        <!-- interests items -->
        <div class="service-items">
            {% for item in content.items %}
            <div class="service-col">
                <div class="service-item content-box">
                    <div class="icon"><span class="{{ item.icon }}"></span></div>
                    <div class="name">{{ item.name }}</div>
                    <div class="text">{{ item.text }}</div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="clear"></div>
    </div>
</div>