{% assign content = site.data.content['team'] %}

<!-- Section Team -->
<div class="section team" id="section-team">
    <div class="content">
        {% if content.title != '' %}
        <!-- title -->
        <div class="title">
            <div class="title_inner">{{ content.title }}</div>
        </div>
        {% endif %}
        
        <!-- team items -->
        <div class="team-items">
            {% for item in content.items %}
            
            {% endfor %}
        </div>

    </div>
</div>