{% assign content = site.data.content['clients'] %}

<!-- Section Clients -->
<div class="section clients" id="section-clients">
    <div class="content">
        {% if content.title != '' %}
        <!-- title -->
        <div class="title">
            <div class="title_inner">{{ content.title }}</div>
        </div>
        {% endif %}
        
        <!-- clients items -->
        <div class="content-box">
            <div class="clients-items">
                {% for item in content.items %}
                <div class="clients-col">
                    <div class="clients-item">
                        <a target="_blank" href="{{ item.url }}">
                            <img src="{{ item.image | relative_url }}" alt="" />
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>