{% set content = site.data.content.team %}

<!-- Section Team -->
<div class="section team" id="section-team">
    <div class="content">
        {% if content.title != '' %}
        <!-- title -->
        <div class="title">
            <div class="title_inner">{{ content.title }}</div>
        </div>
        {% endif %}

        <!-- team items -->
        <div class="team-items">
            {% for item in content.items %}
            <div class="team-col">
                <div class="team-item content-box">
                    <div class="desc">
                        <div class="name">{{ item.name }}</div>
                        <div class="category">{{ item.role }}</div>
                        <ul>
                            <div align="left">
                                <li>{{item.text1}}</li>
                            </div>
                            <div align="left">
                                <li>{{item.text2}}</li>
                            </div>
                            <div align="left">
                                <li>{{item.text3}}</li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>