{% assign content = site.data.content['skills'] %}

{% for column in content.columns %}
<!-- Section Design Skills -->
<div class="section skills" id="section-skills-{{ column.type }}">
    <div class="content">
        <!-- title -->
        <div class="title">
            <div class="title_inner">{{ column.title }}</div>
        </div>
        
        <!-- skills items -->
        <div class="skills{% if column.type %} {{ column.type }}{% endif %} content-box">
            <ul>                
                {% if column.type == 'default' %}
				{% for item in column.items %}
				<li> 
					<div class="name">{{ item.label }}</div>
					<div class="progress">
						<div class="percentage" style="width:{{ item.value  }}%;">
							<span class="percent">{{ item.value  }}%</span>
						</div>
					</div>
				</li>
				{% endfor %}
				{% endif %}

				{% if column.type == 'dotted' %}
				{% for item in column.items %}
				<li> 
					<div class="name">{{ item.label }}</div>
					<div class="progress">
						<div class="percentage" style="width: {{ item.value  }}%;">
							<span class="percent">{{ item.value  }}%</span>
						</div>
					</div>
				</li>
				{% endfor %}
				{% endif %}

				{% if column.type == 'circles' %}
				{% for item in column.items %}
				<li> 
					<div class="name">{{ item.label }}</div>
					<div class="progress p{{ item.value  }}">
						<div class="percentage" style="width: {{ item.value  }}%;">
							<span class="percent">{{ item.value  }}%</span>
						</div>
						<span>{{ item.value  }}%</span>
					</div>
				</li>
				{% endfor %}
				{% endif %}
				
				{% if column.type == 'list' %}
				{% for item in column.items %}
				<li> 
					<div class="name">{{ item.label }}</div>
				</li>
				{% endfor %}
				{% endif %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}