---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Section Started -->
<div class="section started section-title" id="section-started">

    <!-- background -->
    <div class="video-bg"{% if page.bg_image != '' %} style="background-image: url({{ page.bg_image | relative_url }});"{% endif %}>
        {% if page.bg_image == 'map' %}
        <div class="map" id="map"></div>
        {% endif %}
        <div class="video-bg-mask"></div>
        <div class="video-bg-texture" id="grained_container"></div>
    </div>

    <!-- started content -->
    <div class="centrize full-width">
        <div class="vertical-center">
            <div class="started-content">
                <h1 class="h-title">{{ page.title }}</h1>
                <div class="h-subtitles">
                    <div class="h-subtitle typing-bread">
                        <p class="breadcrumbs">
                            <a href="{{ site.url }}">{{ ui_text.home }}</a> / {{ page.title }}
                        </p>
                    </div>
                    <span class="typed-bread"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- mosue button -->
    <a href="#" class="mouse_btn" style="display: none;"><span class="icon fas fa-chevron-down"></span></a>

</div>

{% assign sections = page.sections | split: "," %}

{% for section in sections %}
	{% include section-{{ section }}.html %}
{% endfor %}