---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

{% if page.author == nil %}
	{% assign author = site.author %}
{% else %}
	{% assign author = page.author %}
{% endif %}

{% assign blog_url = 'blog/' %}

<!-- Section Started -->
<div class="section started section-title" id="section-post">

    <!-- background -->
    <div class="video-bg"{% if page.image != '' %} style="background-image: url({{ page.image | relative_url }});"{% endif %}>
        <div class="video-bg-mask"></div>
        <div class="video-bg-texture" id="grained_container"></div>
    </div>

    <!-- started content -->
    <div class="centrize full-width">
        <div class="vertical-center">
            <div class="started-content">
                <div class="date">{{ page.date | date: site.date_format }}</div>
                <h1 class="h-title">{{ page.title }}</h1>
                <div class="h-subtitles">
                    <div class="h-subtitle typing-bread">
                        <p class="breadcrumbs">
                            <a href="{{ site.url }}">{{ ui_text.home }}</a> / <a href="{{ blog_url | relative_url }}">{{ ui_text.blog }}</a>
                        </p>
                    </div>
                    <span class="typed-bread"></span>
                </div>
            </div>
        </div>
    </div>
    
    <!-- mosue button -->
    <a href="#" class="mouse_btn" style="display: none;"><span class="icon fas fa-chevron-down"></span></a>
</div>

<div class="section blog">
    <div class="content">

        <div class="post">
            <div class="content-box">
                <div class="single-post-text">
                    {{ page.content }}
                </div>
                
                <div class="post-text-bottom">
                    <div class="social-share" data-title="{{ page.title }}" data-url="{{ page.url | absolute_url }}">
                        <span>{{ ui_text.share }}:</span>
                        <a class="share-btn share-btn-facebook share-btn-1" title="{{ ui_text.share_on }} Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a class="share-btn share-btn-twitter share-btn-2" title="{{ ui_text.share_on }} Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="share-btn share-btn-linkedin share-btn-3" title="{{ ui_text.share_on }} Linkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a class="share-btn share-btn-reddit share-btn-4" title="{{ ui_text.share_on }} Reddit">
                            <i class="fab fa-reddit"></i>
                        </a>
                        <a class="share-btn share-btn-pinterest share-btn-5" title="{{ ui_text.share_on }} Pinterest">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                    {% assign cat_size = page.category | size %}
                    {% if cat_size != 0 %}
                    <div class="cat-links">
                        <span>Posted in</span> 
                        {% for category in page.category %}
                        <a href="{{ '/categories' | relative_url }}/{{ category | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category }}</a>{% if page.category.last != category and page.category.last != nil %},{% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="byline">
                        {{ ui_text.by }} <span class="author">{{ author }}</span>
                    </div>

                    {% assign tags_size = page.tags | size %}
                    {% if tags_size != 0 %}
                    <div class="tags-links">
                        <span>{{ ui_text.tags }}:</span> 
                        {% for tag in page.tags %}
                        <a href="{{ '/tags' | relative_url }}/{{ tag | downcase | url_escape | strip | replace: ' ', '-' }}" rel="tag">{{- tag -}}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        {% if page.previous.url or page.next.url %}
		<nav class="navigation post-navigation">
			<div class="nav-links">
				{% if page.previous.url %}
				<div class="nav-previous">
					<a href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title }}"><span class="post-nav-next post-nav-text">{{ ui_text.prev }}</span></a>
				</div>
				{% endif %}
				{% if page.next.url %}
				<div class="nav-next">
					<a href="{{ page.next.url | relative_url }}" title="{{ page.next.title }}"><span class="post-nav-prev post-nav-text">{{ ui_text.next }}</span></a>
				</div>
				{% endif %}
			</div>
		</nav>
		{% endif %}
        
        {% if site.disqus_comments == 'yes' %}
		<div class="post-comments">
			<div class="title">
				<div class="title_inner">{{ ui_text.comments }}</div>
			</div>
			<div class="comments">
				<div id="disqus_thread"></div>
							
				{% if site.disqus_shortname %}
				  <script>
				    var disqus_config = function () {
				      this.page.url = "{{ page.url | absolute_url }}";  /* Replace PAGE_URL with your page's canonical URL variable */
				      this.page.identifier = "{{ page.id }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
				    };
				    (function() { /* DON'T EDIT BELOW THIS LINE */
				      var d = document, s = d.createElement('script');
				      s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
				      s.setAttribute('data-timestamp', +new Date());
				      (d.head || d.body).appendChild(s);
				    })();
				  </script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				{% endif %}
			</div>
		</div>
		{% endif %}

        <div class="clear"></div>
    </div>
</div>